.rightClickMenu
{
    position:absolute;     
    display: none;
    width: 80px;

    margin: 0;
    padding: 0;

    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.35);
    border-radius: 4px;

    font-family: Lucida Grande;
    font-size: 14px;
    line-height: 15px;
}

.rightClickMenu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.rightClickMenu li
{
    width: 80px;
    color:#fff;
    border:none;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.35);
    border-radius: 4px;
    padding: 3px 5px 4px;
}

.rightClickMenu li:first-child
{
    width: 80px;
    margin: 0;
    padding: 3px 5px 4px;
}

.rightClickMenu a
{
    color: 'darkgray';
    text-decoration: none;
    display: block;
    margin: 0;
    padding: 3px 0 4px;

}

.rightClickMenu a:hover
{
    background: -webkit-linear-gradient(top, #648bf5, #2866f2);
    background: linear-gradient(to bottom, #648bf5 0%, #2866f2 100%);
    border-top: 1px solid #5a82eb;
    border-bottom: 1px solid #1758e7;
    color: #fff;
}

menu rightClickMenu a:hover::after {
    color: #fff;
}

input#image-createBox {
    background: #fff url('rectangle.png') no-repeat top left;
    background-size: auto 50px;
    width: 140px;
    height: 52px;
    height: 52px;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

.btn-rectangle {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #008877;
    background-image: none /* url('rectangle.png') */;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 32px;
    height: 32px;
}

.btn-rectangle:hover {
    font-size: 16px;
    color: #ffffff;
    background: #0066ff;
    border-radius: 4px;
}

.btn-circle {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-border-radius: 50px;
    -moz-user-select: none;
    -moz-border-radius: 50px;
    -ms-user-select: none;
    user-select: none;
    background: #008877;
    background-image: none /* url('circle.png') */;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    border-radius: 50px;
    width: 32px;
    height: 32px;
}

.btn-circle:hover{
    font-size: 16px;
    color: #ffffff;
    background: #0066ff;
}

.btn-connector {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 8px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-border-radius: 2px;
    -moz-user-select: none;
    -moz-border-radius: 2px;
    -ms-user-select: none;
    user-select: none;
    background-image: url('connector.png');
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    border-radius: 2px;
    width: 32px;
    height: 32px;
}

.btn-connector:hover{
    font-size: 10px;
    font-weight: bold;
    color: darkred;
    background-color: cyan;
}

.btn-undoMod {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 8px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-border-radius: 2px;
    -moz-user-select: none;
    -moz-border-radius: 2px;
    -ms-user-select: none;
    user-select: none;
    background-image: url('undo.png');
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    border-radius: 2px;
    width: 32px;
    height: 32px;
}

.btn-undoMod:hover{
    font-size: 10px;
    font-weight: bold;
    color: darkred;
    background-color: cyan;
}

.btn-redoMod {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 8px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-border-radius: 2px;
    -moz-user-select: none;
    -moz-border-radius: 2px;
    -ms-user-select: none;
    user-select: none;
    background-image: url('redo.png');
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    border-radius: 2px;
    width: 32px;
    height: 32px;
}

.btn-redoMod:hover{
    font-size: 10px;
    font-weight: bold;
    color: darkred;
    background-color: cyan;
}

.btn-saveFile {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 8px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-border-radius: 2px;
    -moz-user-select: none;
    -moz-border-radius: 2px;
    -ms-user-select: none;
    user-select: none;
    background-image: url('save.png');
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    border-radius: 2px;
    width: 32px;
    height: 32px;
}

.btn-saveFile:hover{
    font-size: 10px;
    font-weight: bold;
    color: darkred;
    background-color: cyan;
}

.btn-openFile {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 8px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-border-radius: 2px;
    -moz-user-select: none;
    -moz-border-radius: 2px;
    -ms-user-select: none;
    user-select: none;
    background-image: url('fopen.png');
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    border-radius: 2px;
    width: 32px;
    height: 32px;
}

.btn-openFile:hover{
    font-size: 10px;
    font-weight: bold;
    color: darkred;
    background-color: cyan;
}


.btn-delete {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 8px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-border-radius: 2px;
    -moz-user-select: none;
    -moz-border-radius: 2px;
    -ms-user-select: none;
    user-select: none;
    background-image: url('delete.png');
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    border-radius: 2px;
    width: 32px;
    height: 32px;
}

.btn-delete:hover{
    font-size: 10px;
    font-weight: bold;
    color: darkred;
    background-color: cyan;
}

.btn-text {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 8px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-border-radius: 2px;
    -moz-user-select: none;
    -moz-border-radius: 2px;
    -ms-user-select: none;
    user-select: none;
    background-image: url('text.png');
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    border-radius: 2px;
    width: 32px;
    height: 32px;
}

.btn-text:hover{
    font-size: 10px;
    font-weight: bold;
    color: darkred;
    background-color: cyan;
}

.btn-color {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 8px;
    font-weight: normal;
    color: transparent;
    line-height: 1.42857143;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-border-radius: 2px;
    -moz-user-select: none;
    -moz-border-radius: 2px;
    -ms-user-select: none;
    user-select: none;
    background-image: url('color.png');
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    border-radius: 2px;
    width: 32px;
    height: 32px;
}

.btn-color:hover{
    font-size: 10px;
    font-weight: bold;
    color: transparent;
    background-color: cyan;
}

.btn-zoomin {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 8px;
    font-weight: normal;
    color: transparent;
    line-height: 1.42857143;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-border-radius: 2px;
    -moz-user-select: none;
    -moz-border-radius: 2px;
    -ms-user-select: none;
    user-select: none;
    background-image: url('zoomin.png');
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    border-radius: 2px;
    width: 32px;
    height: 32px;
}

.btn-zoomin:hover{
    font-size: 10px;
    font-weight: bold;
    color: transparent;
    background-color: cyan;
}

.btn-zoomout {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 8px;
    font-weight: normal;
    color: transparent;
    line-height: 1.42857143;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-border-radius: 2px;
    -moz-user-select: none;
    -moz-border-radius: 2px;
    -ms-user-select: none;
    user-select: none;
    background-image: url('zoomout.png');
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    border-radius: 2px;
    width: 32px;
    height: 32px;
}

.btn-zoomout:hover{
    font-size: 10px;
    font-weight: bold;
    color: transparent;
    background-color: cyan;
}

.btn-zoomreset {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 8px;
    font-weight: normal;
    color: transparent;
    line-height: 1.42857143;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-border-radius: 2px;
    -moz-user-select: none;
    -moz-border-radius: 2px;
    -ms-user-select: none;
    user-select: none;
    background-image: url('zoomreset.png');
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    border-radius: 2px;
    width: 32px;
    height: 32px;
}

.btn-zoomreset:hover{
    font-size: 10px;
    font-weight: bold;
    color: transparent;
    background-color: cyan;
}

.btn-pointer {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 8px;
    font-weight: normal;
    color: transparent;
    line-height: 1.42857143;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-border-radius: 2px;
    -moz-user-select: none;
    -moz-border-radius: 2px;
    -ms-user-select: none;
    user-select: none;
    background-image: url('pointer.png');
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    border-radius: 2px;
    width: 32px;
    height: 32px;
}

.btn-pointer:hover{
    font-size: 10px;
    font-weight: bold;
    color: transparent;
    background-color: cyan;
}

.btn-pencil {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 8px;
    font-weight: normal;
    color: transparent;
    line-height: 1.42857143;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-border-radius: 2px;
    -moz-user-select: none;
    -moz-border-radius: 2px;
    -ms-user-select: none;
    user-select: none;
    background-image: url('pencil.png');
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    border-radius: 2px;
    width: 32px;
    height: 32px;
}

.btn-pencil:hover{
    font-size: 10px;
    font-weight: bold;
    color: transparent;
    background-color: cyan;
}


.btn-pan {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 8px;
    font-weight: normal;
    color: transparent;
    line-height: 1.42857143;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-border-radius: 2px;
    -moz-user-select: none;
    -moz-border-radius: 2px;
    -ms-user-select: none;
    user-select: none;
    background-image: url('pan.png');
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    border-radius: 2px;
    width: 32px;
    height: 32px;
}

.btn-pan:hover{
    font-size: 10px;
    font-weight: bold;
    color: transparent;
    background-color: cyan;
}

.btn-cut {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 8px;
    font-weight: normal;
    color: transparent;
    line-height: 1.42857143;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-border-radius: 2px;
    -moz-user-select: none;
    -moz-border-radius: 2px;
    -ms-user-select: none;
    user-select: none;
    background-image: url('cut.png');
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    border-radius: 2px;
    width: 32px;
    height: 32px;
}

.btn-cut:hover{
    font-size: 10px;
    font-weight: bold;
    color: transparent;
    background-color: cyan;
}

.btn-copy {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 8px;
    font-weight: normal;
    color: transparent;
    line-height: 1.42857143;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-border-radius: 2px;
    -moz-user-select: none;
    -moz-border-radius: 2px;
    -ms-user-select: none;
    user-select: none;
    background-image: url('copy.png');
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    border-radius: 2px;
    width: 32px;
    height: 32px;
}

.btn-copy:hover{
    font-size: 10px;
    font-weight: bold;
    color: transparent;
    background-color: cyan;
}

.btn-paste {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 8px;
    font-weight: normal;
    color: transparent;
    line-height: 1.42857143;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-border-radius: 2px;
    -moz-user-select: none;
    -moz-border-radius: 2px;
    -ms-user-select: none;
    user-select: none;
    background-image: url('paste.png');
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    border-radius: 2px;
    width: 32px;
    height: 32px;
}

.btn-paste:hover{
    font-size: 10px;
    font-weight: bold;
    color: transparent;
    background-color: cyan;
}

.map_overlay
{
    position: absolute;
    left: 10px;
    top: 10px;
    pointer-events: none;
    width: 102px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.4;
}

.map_outline
{
    position: absolute;
    border: 2px solid #00EE00;
    width: 102px;
    height: 60px;
    background-color: rgba(0, 255, 0, 0.5);
}

